.celluleContainer{
  width:10vw;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}
.celluleSilo{
  height: 50px;
  width:100%;
  border: 1px solid black;
  cursor: pointer;
}

h3{
  text-align: center;
}
