.camion{
  display:inline-block;
  height: 80px;
  width:100%;
  border: 1px solid black;
  justify-content: center;
  cursor: pointer;
  flex-wrap:inherit;
  width:10vw;
  margin:0 10px;
}

h3
{
  justify-content: center;
  display: flex;
}
